$backgroundimg:  no-repeat url(../img/m-h-night.jpg);
$font1: 'Fresca', sans-serif;
$color1: white;
$font2: 'Fresca', sans-serif;
$opct1: 1;
$opct2: 1;
$color2: #ffc92a;
$fontweight: bold;
$color3: #302f30;
$color4: #494949;
$gradient: linear-gradient(45deg, yellow, #ff0055);
$color5: white;
$color6: #ff4916;
