$backgroundimg: no-repeat url(../img/m-h-day.jpg);
$font1: 'Hind', sans-serif;
$color1: black;
$font2: 'Source Sans Pro', sans-serif;
$opct1: 0.65;
$opct2: 0.5;
$color2: #637b15;
$fontweight: 500;
$color3: white;
$color4: rgb(0, 21, 38);
$gradient: linear-gradient(45deg, green, #3335ff);
$color5: black;
$color6: #0edaff;

